streamlit
psycopg2-binary
pandas
datetime
aiohttp
beautifulsoup4
dateparser
spacy
spacytextblob
bertopic
plotly
scikit-learn
numpy
wordcloud 
plotly
matplotlib
nltk
streamlit
schedule
time

