streamlit
psycopg2-binary
pandas
datetime
aiohttp
beautifulsoup4
dateparser
spacy==3.5.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl
spacytextblob
bertopic
plotly
scikit-learn
numpy
wordcloud 
plotly
matplotlib
nltk
streamlit
schedule
xmltodict
requests


