psycopg2-binary
pandas
datetime
aiohttp
beautifulsoup4
dateparser
lxml
requests
spacy
spacytextblob
bertopic
plotly
scikit-learn
numpy
wordcloud 
plotly
matplotlib
time
google-news-feed
